---
- name: Put .htaccess in web-root
  copy:
    src: "htaccess"
    dest: /var/www/html/.htaccess
    owner: www-data
    group:  www-data
    mode: '0640'

# Add a user to a password file and ensure permissions are set
- htpasswd:
    path: /etc/nginx/passwdfile
    name: "{{ basic_auth_user }}
    password: "{{ basic_auth_password }}"
    owner: root
    group: www-data
    mode: 0640


